html {
    font-size: 16px;
}

body {
    background-color: #552255;
}

.title {
    font-size: 2rem;
}

.nav-color {
    background-color: #441144;
}

.map {
    height: 100vh;
    background: url("/world.jpg");
    position: relative;
}